APP_PORT=8080
POSTGRES_DB=case_lens
POSTGRES_USER=case_lens
POSTGRES_PASSWORD=change-this-database-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
ADMIN_DISPLAY_NAME=管理员
SECURE_COOKIES=false
SESSION_HOURS=24
MAX_UPLOAD_MB=2048
PIP_INDEX_URL=https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple
NPM_CONFIG_REGISTRY=https://registry.npmmirror.com
